apache-beam[gcp]
google-cloud-firestore
google-cloud-firestore
asyncpraw~=7.2.0
psaw~=0.1.0
mypy
pylint
pytest~=6.2.4
pylint-pytest
pytest-asyncio
requests~=2.25.1
prefect~=0.14.19
SQLAlchemy~=1.4.14
asyncprawcore~=2.0.1
psycopg2-binary